API_PORT=3000
API_VERSION=1
SWAGGER_ENABLE=1

HEALTH_TOKEN=replace-me
ACCESS_SECRET=change-me-access-secret
REFRESH_SECRET=change-me-refresh-secret

ACCESS_EXPIRES_IN=15m
REFRESH_EXPIRES_IN=7d

CORS_ORIGIN=*

DATABASE_URL=mongodb://localhost:27017/nest

DEEPSEEK_API_KEY=sk-...

# Redis configuration
REDIS_HOST=
REDIS_PORT=6379
REDIS_USERNAME=default
REDIS_PASSWORD=
